[MAIN]
* Contains main commit information like a new service being added or 
* something that can break compatibility

[MINOR]
* Contains information that have noticeable changes but don't break anything
* (eg: file rename, code improvements, etc)

[MISC]
* Contains information about very unnoticeable changes like spelling changes

[CHORE]
* Contains information on stuff that had to be done sooner or later, like adding documentation